@charset "UTF-8";

/* パンくずリスト */

.topicpath ol li ,.topicpath p{
        /* liを横並び＆ブレットを消す */
        display: inline;
        list-style-type: none;
}

.topicpath ol li:before {
        /* liの前に記号追加 */
        content: " > ";
}

.topicpath ol li:first-child:before {
        /* 最初のliだけcontentを消す */
        content:"";
}

.input-form{
	background: #eee;
}

button:hover {
    opacity: 0.7 ;
}

.searchBtn{
	display       : inline-block;
    font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 12px;    /* 余白       */
    color         : #020202;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border-style  : none;        /* 枠         */
    min-width     : 180px;       /* 最小幅     */
    background    : #ffca68 ;     /* 背景色     */
}
.downloadBtn{
    display       : inline-block;
    font-size     : 10pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 3px;    /* 余白       */
    color         : #020202;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border-style  : none;        /* 枠         */
    min-width     : 10px;       /* 最小幅     */
    background    : #9bfe96 ;     /* 背景色     */
}

.center button{
	margin-top: 15px;
    vertical-align : top; /*上端揃え*/
}

.addFormBtn{
    display       : inline-block;
    font-size     : 12pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 12px;    /* 余白       */
    color         : #020202;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border-style  : none;        /* 枠         */
    min-width     : 180px;       /* 最小幅     */
    background    : #ffbbff ;     /* 背景色     */
    margin : 10px;
}

.count{
	margin-left : 130px;
}

/* 一括削除ボタン     */
.delCheckBtn{
    margin: auto;
    text-align: left;
}
.delCheckForm{
    display: inline;
    margin-left: 130px;
}
#selectDeleteBtn{
	background    : #474747 ;
    min-width: 60px;
    padding:2px;
    margin-bottom: 3px;
    border-style: hidden;
    color : #ffffff;
}

.back {
    display       : inline;
    font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 15px;    /* 余白       */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border-style  : none;        /* 枠         */
    min-width     : 180px;       /* 最小幅     */
    background    : #666666 ;     /* 背景色     */
}

.reset {
    background    : #666666 ;     /* 背景色     */
    display       : inline-block;
    font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 12px;    /* 余白       */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border-style  : none;        /* 枠         */
    min-width     : 90px;       /* 最小幅     */
}

.Btn{
	display:inline;
}

.addBtn{
	display:inline;
	font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 15px;    /* 余白       */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border-style  : none;        /* 枠         */
    min-width     : 180px;       /* 最小幅     */
    background    : #ffbbff ;     /* 背景色     */
}

.upBtn{
    display:inline-block;
    font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 9px 15px;    /* 余白       */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    border-style  : none;        /* 枠         */
    min-width     : 180px;       /* 最小幅     */
    background    : #a9f3fe ;     /* 背景色     */
    margin : 10px;
}

.list-table{
	margin: auto;
	width: 80%;
	border-collapse: collapse;
}

.add-table{
	margin: auto;
}

.up-table{
	margin:auto;
}
th .up-table{
	padding: 0 10px;
}


.up-area{
	text-align: center;
	background: #eee;
}
.msg {
	text-align: center;
}

.center {
	text-align:center;
}

.list-table tr:nth-child(even) {
    background: #eee;
}

.delete, .update{
	padding: 0;
	border: none;
	background: transparent;
	vertical-align : middle;
    margin: 3px !important;
}


/*ラジオボタンデザイン*/
.select input {
    display: none;
}
.select label{
    display: block;
    float: left;
    cursor: pointer;
    width: 60px;
    margin: 0;
    padding: 6px;
    background: #bdc3c7;
    color: #869198;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
.select label:first-of-type{
    border-radius: 3px 0 0 3px;
}
.select label:last-of-type{
    border-radius: 0 3px 3px 0;
}
.select input[type="radio"]:checked + .search-label {
    background-color: #ffc253;
    color: #fff;
}
.select input[type="radio"]:checked + .add-label {
    background-color: #ffc253;
    color: #000000;
}
